.header {
    .navbar {
        background-image: linear-gradient(to right, #ee0979, #ff6a00);
        .logo {
            color: #ffffff;
            font-weight: 600;
        }
        .navbar-nav {
            .nav-link {
                color: rgba($color: #ffffff, $alpha: .85);
            }
            .nav-link:hover {
                color: rgba($color: #ffffff, $alpha: 1.0);
            }
            .active {
                color: #ffffff;
            }
        }
    }
}