<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand logo">My Store</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link active" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">About</a>
          </li>
        </ul>
        <div>
            <a class="btn btn-outline-light">Login</a>
            <span class="mx-lg-2"></span>
            <a class="btn btn-light">Register</a>
        </div>
      </div>
    </div>
  </nav>
</header>
