<app-header></app-header>
<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row justify-content-center mb-4">
      <div class="col-md-12 col-xl-10">
        <div class="card shadow-0 border rounded-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                  <img [src]="product?.image" class="w-100" />
                  <a href="#!">
                    <div class="hover-overlay">
                      <div
                        class="mask"
                        style="background-color: rgba(253, 253, 253, 0.15)"
                      ></div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-6">
                <h5>{{ product?.name }}</h5>
                <div class="d-flex flex-row">
                  <div class="text-danger mb-1 me-2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <span>310</span>
                </div>
                <div class="mt-1 mb-0 text-muted small">
                  <span>100% cotton</span>
                  <span class="text-primary"> • </span>
                  <span>Light weight</span>
                  <span class="text-primary"> • </span>
                  <span>Best finish<br /></span>
                </div>
                <div class="mb-2 text-muted small">
                  <span>Unique design</span>
                  <span class="text-primary"> • </span>
                  <span>For men</span>
                  <span class="text-primary"> • </span>
                  <span>Casual<br /></span>
                </div>
                <p class="text-truncate mb-4 mb-md-0">
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected humour, or randomised words which don't look
                  even slightly believable.
                </p>
              </div>
              <div
                class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start"
              >
                <div class="d-flex flex-row align-items-center mb-1">
                  <h4 class="mb-1 me-1">
                    {{ product?.price | number : "1.0-0" }}
                  </h4>
                  <span class="text-danger"
                    ><s>{{ product?.price | number : "1.0-0" }}</s></span
                  >
                </div>
                <h6 class="text-success">Free shipping</h6>
                <div class="d-flex flex-column mt-4">
                  <button class="btn btn-primary btn-sm" type="button">
                    By Now
                  </button>
                  <button
                    class="btn btn-outline-primary btn-sm mt-2"
                    type="button"
                  >
                    Add To Cart
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 col border border-primary rounded shadow p-3">
            <form [formGroup]="applyForm" (submit)="submitForm()">
                <div class="form-group mb-3">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid': submitted && firstName.invalid}">
                    <div class="form-text error-message" *ngIf="submitted && firstName.errors?.required">First name is required</div>
                </div>
                <div class="form-group mb-3">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid': submitted && lastName.invalid}">
                    <div class="form-text error-message" *ngIf="submitted && lastName.errors?.required">Last name is required</div>
                </div>
                <div class="form-group mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && email.invalid}">
                    <div class="form-text error-message" *ngIf="submitted && email.errors?.required">Email is required</div>
                    <div class="form-text error-message" *ngIf="submitted && email.errors?.email">Invalid email</div>
                </div>
                <div>
                    <input type="submit" value="By Now" class="btn btn-primary">
                </div>
            </form>
        </div>
      </div>
  </div>
</section>