.card {
    transition: all ease-in .1s;
  .product-item {
    text-decoration: none;
    color: #333;
    .card-body {
      padding: 0.5rem;
      .product-name {
        font-size: 15px;
        line-height: 1.2rem;
        height: 2.4rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .star-container {
        display: flex;
        svg {
          fill: #ffd000;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}
.card:hover {
    box-shadow: 0 .125rem .25rem rgba(#0000, .15);
}