<app-header></app-header>
<main class="main">
  <section class="search-product-section py-3 mb-4">
    <div class="container">
      <div class="input-group" style="max-width: 500px">
        <input
          #filter
          type="text"
          name="searchInput"
          id="searchInput"
          class="form-control"
          placeholder="Search product by name..."
          aria-label="Search product by name..."
          aria-describedby="search-button"
        />
        <button class="btn btn-success" id="search-button" (click)="filterResults(filter.value)">Search</button>
      </div>
    </div>
  </section>
  <section class="product-list-section">
    <div class="container">
      <div class="row g-2">
        <div
          class="col-lg-2 col-md-3 col-sm-4 col-6"
          *ngFor="let product of filteredProductList"
        >
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>
  </section>
</main>
